<div class="box clearfix">
	<div class="panel l">
		<a href="<%= @image.rel_path_c %>" target="_blank"><img src="<%= @image.rel_path_c %>" id="show_pic" /></a>
		<div id="natural_i" style="padding:10px 0;text-align:center;"></div>
	</div>
	<div class="ops r">
		<div class="preview">
			<div id="mask" class="mask" style="text-align:center;color:#FFF;"></div>
			<img src="<%= @image.rel_path %>" id="preview_pic" />
			<div id="mask_i" class="mask-i"></div>
			<div id="preview_i" class="preview-i"></div>
		</div>
		<%= form_tag('/crop') do -%>
		<div style="text-align:center;">
			宽<input type="text" name="width" class="minInput" value="<%= @image.width %>" />x<input type="text" name="height" class="minInput" value="<%= @image.height %>">高			
			<input type="hidden" name="x" value="<%= @image.sx %>" /><input type="hidden" name="y" value="<%= @image.sy %>">
			<input type="hidden" name="w" value="<%= @image.tw %>" /><input type="hidden" name="h" value="<%= @image.th %>">
			<input type="submit" name="submit" class="fileupload" value="生成魔点图" />
		</div>
		<% end -%>
		<%= form_tag('/generate_m') do -%>
		<input type="submit" name="submit" class="fileupload" value="生成图纸" />
		<% end -%>
	</div>
</div>
<%= javascript_include_tag 'jquery-1.8.3.min', 'crop' %>
<script type="text/javascript">
	crop.scale = <%= @image.scale %>;
</script>
