<div class="box clearfix">
	<div class="panel l">
		<a href="<%= @image.rel_path_c %>" target="_blank"><img src="<%= @image.rel_path_c %>" /></a>
	</div>
	<div class="ops r">
		<div class="preview">
			<div id="mask" class="mask"></div>
			<img src="<%= @image.rel_path %>" />
		</div>
		<%= form_tag('/crop') do -%>
		<input type="submit" name="submit" class="fileupload" value="生成魔点图" />
		<% end -%>
		<%= form_tag('/generate_m') do -%>
		<input type="submit" name="submit" class="fileupload" value="生成图纸" />
		<% end -%>
	</div>
</div>