<div class="box clearfix">
	<div class="panel l">
		<div class="m-preview">
			<a href="<%= @image.rel_path_m + 'M1.jpg' %>" target="_blank"><img src="<%= @image.rel_path_m + 'M1.jpg' %>" /></a>
		</div>
		<% i = 0 %>
		<% w = 100 %>
		<div class="m-list" style="height:<%= w %>px;">
			<table>
				<tr>
				<% 0.upto @image.h - 1 do %>
					<% 0.upto @image.w - 1 do %>
					<% i = i + 1 %>
					<% imgPath = @image.rel_path_m + 'M' + i.to_s + '.jpg' %>
					<td>
						<a href="<%= imgPath %>" target="_blank"><img src="<%= imgPath %>" style="width:<%= w %>px" /></a>
						<p>M<%= i.to_s %></p>
					</td>
					<% end %>
				<% end %>
				</tr>
			</table>
		</div>
	</div>
	<div class="ops r">
		<table class="total">
			<% total = @image.total.split('$').map{|i|i.to_i} %>
			<tr>
				<td>规格</td>
				<td>个数</td>
				<td rowspan="11">共 <%= total.sum %></td>
			</tr>
			<% 2.upto total.length - 1 do |i| %>
			<tr>
				<td><%= i %></td>
				<td><%= total[i] %></td>
			</tr>
			<% end %>
		</table>
		<div class="op">打印</div>
		<div class="op">下载</div>
	</div>
</div>




