<div class="preview">
	<div class="preview-a">
		<a href="<%= @image.rel_path %>" target="_blank"><img src="<%= @image.rel_path %>" /></a>
	</div>
	<div class="preview-b">
		<a href="<%= @image.rel_path_b %>" target="_blank"><img src="<%= @image.rel_path_b %>" /></a>
	</div>
	<div class="preview-c">
		<a href="<%= @image.rel_path_c %>" target="_blank"><img src="<%= @image.rel_path_c %>" /></a>
	</div>
</div>
<div style="text-align:center;">
<%= form_tag('/generate_m') do -%>
<input type="submit" name="submit" class="fileupload" value="生成图纸" />
<% end -%>
</div>
