<div class="preview">
	<div class="preview-a">
		<a href="<%= @image.rel_path %>" target="_blank"><img src="<%= @image.rel_path %>" /></a>
	</div>
	<div class="preview-b">
		<a href="<%= @image.rel_path_b %>" target="_blank"><img src="<%= @image.rel_path_b %>" /></a>
	</div>
	<div class="preview-c">
		<a href="<%= @image.rel_path_c %>" target="_blank"><img src="<%= @image.rel_path_c %>" /></a>
	</div>
</div>
<table class="ms">
	<% i = 0 %>
	<% w = 1000/@image.w %>
	<% 0.upto @image.h - 1 do %>
	<tr>
		<% 0.upto @image.w - 1 do %>
		<% i = i + 1 %>
		<% imgPath = @image.rel_path_m + 'M' + i.to_s + '.jpg' %>
		<td>
			<a href="<%= imgPath %>" target="_blank"><img src="<%= imgPath %>" style="width:<%= w %>px" /></a>
			<p>M<%= i.to_s %></p>
		</td>
		<% end %>
	</tr>
	<% end %>
</table>
<div class="imginfo" style="display:none;">
	<p>Format: <%= @img.format %></p>
	<p>Geometry: <%= @img.columns %>x<%= @img.rows %></p>
	<p>Class: 
	<%
		case @img.class_type
		when Magick::DirectClass
	%>
			"DirectClass"
	<%
		when Magick::PseudoClass
	%>
			"PseudoClass"
	<%
		end
	%>
	</p>
	<p>Depth: <%= @img.depth %> bits-per-pixel</p>
	<p>Colors: <%= @img.number_colors %></p>
	<p>Filesize: <%= @img.filesize %></p>
	<p>Resolution: <%= @img.x_resolution.to_i %>x<%= @img.y_resolution.to_i %>pixels/
		<%= @img.units == Magick::PixelsPerInchResolution ? "inch" : "centimeter" %>
	</p>
	<%
	    if @img.properties.length > 0
	%>
	        "   Properties:" <br /><br />
	<%
	        @img.properties { |name,value|
	%>
	            <%= name %> = <%= value %> <br />
	<%
	        }
	    end
	%>
</div>
<table class="total">
	<tr>
		<td>规格</td>
		<td>个数</td>
		<td rowspan="11">共 <%= @image.total.sum %></td>
	</tr>
	<% 1.upto @image.total.length - 1 do |i| %>
	<tr>
		<td><%= i %></td>
		<td><%= @image.total[i] %></td>
	</tr>
	<% end %>
</table>
